* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
color: white;

}
#navbar {
 position: fixed;
 background-color: black;
 height: 40px;
 width: 100%;
 color: white;

}

/* Dashboard Navbar */
#navbar-dash {

}

.nav-links {
    list-style: none;
    text-decoration: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    
    
}

.nav-links li a:hover{
   
}

#navbar h1 {
    margin: 0;
}
.welcome {
    text-align: center;
}

.dash-welcome {
    text-align: left;
}



.container{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 30vw;
    height: fit-content;
    margin: auto;
    background-color: rgba(111, 111, 111, 0.233);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    margin: auto;
}

.container-dash{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 30vw;
    height: 100vh;
    margin: auto;
    background-color: rgba(111, 111, 111, 0.233);
    position: absolute;
    
    left: 0;
   
    border-radius: 15px;
    margin: auto;
}

.errmsg {
    text-align: center;
}

.input {
    width: 20vw;
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 10px;
}

.label {
    width: 20vw;
text-align: center;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 1.4rem;
}


.btn {
    margin:  15px auto;
    font-size: 1.4rem;
    width: fit-content;
    display: block;
   text-align: center;
   text-decoration: none;
   color: white;
   background-color: rgb(51, 225, 51);
    
}

.subTxt {
    text-align: center;
}


.btn-logout {
    height: 30px;
    width: 100px;
    background-color: red;
    text-align: center;
    margin: 0;
    border-radius: 3px;
    border: 2px solid white;
   text-align: center;
}

.logout-btn {
    margin:   auto;
    font-size: 1.4rem;
    width: fit-content;
  
   text-align: center;
   text-decoration: none;
   color: white;
   
}

.regsuccess {
    text-align: center;
}

.btn-logout:hover {
    height: 30px;
    width: 100px;
    background-color: rgb(113, 0, 0);
    text-align: center;
    margin: 0;
    border-radius: 3px;
    border: 2px solid white;
   text-align: center;
}